.babyPink{
    background-color: $babyPink;
  }

  .babyPurple{
    background-color: $babyPurple;
  }
  
  .babyBlue{
    background-color: $babyBlue;
  }
  .babyTurquoise{
    background-color: $babyTurquoise;
  }
  .babyGreen{
    background-color: $babyGreen;
  }
  .babyYellow{
    background-color: $babyYellow;
  }
  .babyOrange{
    background-color: $babyOrange;
  }