// Back Container
.backContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $big;
  height: 570px;
  background-color: $softGrey;
  border-radius: 30px;
}

//Front Container


.job__item{
  color: yellow;
  :hover{
    color: red;
  }
}

.frontContainer{
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: $white;
  border-radius: 30px;
  padding: 60px 75px;
  gap: 30px;


  &__search{
    display: flex;
    justify-content: space-around;
    height: 50px;
    display: flex;
    gap: 16px 8px;
   

    &-box{
      width: $medium;
      display: flex;
      gap: 16px 8px;
      border: 1px solid #DBD5EC ;
      border-radius: 3px;
      padding: 8px;
      align-items: center;
    }

    &-input{
      border: none;
      min-width: $small;
    

      &::placeholder{
        font-family: $Poppins;
        font-size: $xs;
        font-weight: 500;
        color: $darkPurple;
        opacity: 0.4;
      }
     
      &:focus {
        border: none; 
        outline: none;
      }
    }

    &-mapbtn{
      width: $xsmall;
      background-color: $darkPurple;
      border: none;
      border-radius: 4px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  

  &__jobs{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 15px;

    &-row{
    font-family: $Poppins;
    color: $darkPurple;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;


    }

    &-smallbox{
      align-items: center;
      width: $xxsmall;
      height: $xxsmall;
      border-radius: 8px;
      border: 1px solid black;

      p{
        margin: 0px;
      }


    }

    

}

}