// Back Container
.back-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $big;
  height: 570px;
  background-color: $softGrey;
  border-radius: 30px;
}

.job{
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: $white;
  border-radius: 30px;
  padding: 72px;
  gap: 30px;
  width: 450px;


  .search{
    display: flex;
    justify-content: space-between;
    height: 50px;
    display: flex;
    gap: 16px 8px;
   

    &-box{
      width: $medium;
      display: flex;
      gap: 16px 8px;
      border: 1px solid #DBD5EC ;
      border-radius: 3px;
      padding: 8px;
      align-items: center;
    }

    &-input{
      border: none;
      min-width: $small;
    

      &::placeholder{
        font-family: $Poppins;
        font-size: $xs;
        font-weight: 500;
        color: $darkPurple;
        opacity: 0.4;
      }
     
      &:focus {
        border: none; 
        outline: none;
      }
    }

    &-mapbtn{
      width: $xsmall;
      background-color: $darkPurple;
      border: none;
      border-radius: 4px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
  

  &__list{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    :hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0px 14px 16px rgba(41, 11, 128, 0.1);
  }

  }

  &__item{
    flex: 0 0 60px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    :hover{
      box-shadow: none;
    }
  }

  &__name{
    margin: 0px;
  }


  .-pink{
    background-color: $babyPink;
  }
  .-purple{
    background-color: $babyPurple;
  }
  .-blue{
    background-color: $babyBlue;
  }
  .-turquoise{
    background-color: $babyTurquoise;
  }
  .-green{
    background-color: $babyGreen;
  }
  .-yellow{
    background-color: $babyYellow;
  }
  .-orange{
    background-color: $babyOrange;
  }
  
  .-border{
    border: 1px solid #DBD5EC;
    border-radius: 8px;
  }
    

}

